.row-fluid {
    padding-left: 190px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.row-fluid .span4 { 
    position: relative;
    float:left;

    width: 190px;
    right: 200px;
    margin-right: -10px;

}
.row-fluid .span8 {
    float: right;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
.well { 
    padding-left: 10px;
    padding-right: 10px; 
    margin-bottom: 0px; 
    width: auto; 
}
textarea, .jslider, select{
    width: 100%;
}

/* inputs have to be sized separately */
input{
    width: 145px;