export(calc_kappa)
export(combo_plot)
export(connect_manages)
export(connect_manages_spatial)
export(get_plot_data)
export(ggplot_piper)
export(groundwater_summary)
export(percent_lt)
export(piper_time_html)
export(piper_time_plot)
export(plot_piper)
export(remove_dup)
export(stiff_plot)
export(stiff_time_html)
export(stiff_time_plot)
export(transform_piper_data)
export(transform_stiff_data)
